body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #D6F7FF;
  background-image: url('./img/beeHiveLrg.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #D9B60B;
  font-family: Impact;
  text-decoration: none;
}
.title, .addDancerButton, .button {
  padding:5px 12px;
  text-align: center;
}
.topbar{
  height: 32px;
  font-size: 25px;
  background-color: #D6F7FF;
  padding-top: 15px;
  padding-left: 20px;
}
.toptopbar{
  height: 32px;
  background-color: #D6F7FF;
  font-size: 25px;
  padding-top: 15px;
  padding-left: 20px;
}
.title{
  background-color: #D6F7FF;
  float: center;
  padding-top: 100px;
}
.dancer{
  position:absolute;
}
.spinning {
  -webkit-animation: rotateY 1s infinite linear;
  animation: rotateY 1s infinite linear;
}
@-webkit-keyframes rotateY {
  to { -webkit-transform: rotateY(360deg); }
}
@keyframes rotateY {
  to { transform: rotateY(360deg); }
}
.orbit {   /* from https://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/ */
  -webkit-animation: myOrbit 4s linear infinite; /* Chrome, Safari 5 */
          animation: myOrbit 4s linear infinite; /* Chrome, Firefox 16+,
                                                    IE 10+, Safari 5*/
}
@-webkit-keyframes myOrbit {
  from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}



