body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('./img/beeHiveLrg.png');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .button {
  padding:5px 12px;
  /* float:right; */
  text-align: center;
}
.topbar{
  height:32px;
  background-color: #555;
}
.toptopbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #555;
  float: center;
}
.dancer{
  /* border:10px solid red;
  border-radius:10px; */
  position:absolute;
}
/* .addRed{
  border:10px solid red;
  border-radius:10px;
  position:absolute;

}
.green{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}
.blue{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
} */

/* <img onmouseover="bigImg(this)" src="smiley.gif" alt="Smiley"> */


